@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
h2,h4 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#userSelectDropDown {
  border: 2px solid rgb(234,234,234);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  padding:0 1rem;
}

.loginBox, .grayOutlinedContainer{
  border: 2px solid rgb(234,234,234);
  border-radius: 8px;
  width: 80vw;
  margin: 1rem auto 0 auto;
}
.loginBoxHeader{
  background-color: rgb(248,248,248);
  padding: 2rem;
  border-bottom: 2px solid rgb(234,234,234);
}

.userOption{
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
}
.userOption div{
  margin-right: 1rem;
}
.loginBox a {
  text-decoration: none;
  color:black;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header li {
  margin-right: 1rem;
}

.header li a {
  text-decoration: none;
  color:black;
}

.scoreCard {
  display: flex;
}

.selectedOptionBox {
  border: 2px solid #216FDB;
  padding: 1rem;
  border-radius: 0.5rem;
}

.selectedOptionBox p {
  color: #216FDB;
}

.unSelectedOptionBox {
  padding: 1rem;
}

.primaryButton {
  background-color: #216FDB;
  border: none;
  width: 100%;
  border-radius: 0.25rem;
  color:white;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.primaryButton  a{
  color:white;
  text-decoration: none;
}

.selectUserButton {
  background-color: white;
  color: #bbbbbb;
  padding: 1rem 0rem;
  display: flex;
  width:100%;
  border: none;
}

.userOptions{
  padding: 1rem 0;
  
}
.loginBoxBody, .wantToSignInAs {
  margin-bottom: 3rem;
}
.homeTab {
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 1rem;
  padding: 1rem 2em;
  width: 50%;
}

.tabs {
  width:100%;
}
.homeTab.inactive {
  color:#999999;
  background-color: rgb(234,234,234);
}
.questionContainer {
  border: 2px solid rgb(234,234,234);
  margin: 1rem;
  border-radius: 0.25rem;
  
}
.questionConatinerHeader{
  background-color: rgb(244,244,244);
  padding: 1rem;
}
.questionConatinerHeader h3{
  margin:0;
}
.questionContainerBody {
  display: flex;
}

.questionContainerBody .questionDetail{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left;
  width:70%;
  padding:1rem;
}

.questionContainerPhoto{
  border-right: 2px solid rgb(244,244,244);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1rem;
}
